.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  input {
    width: 82vw;
    height: 5vh;
  }
  button {
    width: 11vw;
    height: 6vh;
  }
}

ul {
  list-style-type: none;
  li {
    display: flex;
    flex-direction: row;
    height: 6vh;
    align-items: center;
    background-color: darkgrey;
  }
  p {
    padding-left: 2vw;
  }
}
